.header {
  background: url('http://imglf0.nosdn.127.net/img/bGZxcVc0VlcvUGFzNkVNR1BvTXh1dGJsdC9uZDVRVWZmMmQ4YW5aekVGWTNOUmFRSDBiRmVRPT0.png?imageView&thumbnail=2000y350&type=jpg&quality=96&stripmeta=0&type=jpg') no-repeat;
  width: 100%;
  background-size: 100%;
}

.header-inner { position: relative; }


@import "headerband";
@import "site-meta";
@import "site-nav";
@import "menu";
